username: $CURRENT_USER
docker-network: sodalite
docker-public-registry-url: registry.hub.docker.com
docker-private-registry-url: $REGISTRY_IP
docker-registry-cert-country-name: SI
docker-registry-cert-organization-name: XLAB
docker-registry-cert-email-address: $SODALITE_EMAIL
image_builder_env:
    DEBUG: "false"
    LOG_LEVEL: debug
    REGISTRY_IP: $REGISTRY_IP

