.venv/
venv-test/
venv-deploy/
.idea/
*.iml
gen/
Dockerfile
src/.opera-api/
src/coverage.xml
src/.coverage
src/results.xml
image-builder-rest-blueprint
.github
*.jar

make_docker.sh
validate_tag.sh
sonar-project.properties

**/__pycache__/
**/.pytest_cache/
**/*.py[cod]
