ssh-key-name: $ssh_key_name
image-name: $image_name
network-name: $network_name
security-groups: $security_groups
flavor-name: $flavor_name
docker-registry-ip: $docker_registry_ip
identity_file: $xOpera_ssh_key_file
ca_crt_location: $ca_crt_file
ca_key_location: $ca_key_file
